*.tdms
*.csv
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data files
*.xlsx
*.xls
*.db
*.sqlite
*.h5
*.hdf5
*.pickle
*.pkl

# Log files
*.log
logs/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE specific
.idea/
.vscode/
*.swp
*.swo
